{% extends 'music/base.html' %}
{% block body %}
{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<img src = "{{album.album_logo}}">
<h1>The album is {{album}} </h1>
<h2>Artist - {{album.artist}}</h2>
<h3>The songs in this album are: </h3>
<form action = "{%url 'music:favorite' album.id %}" method = "post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
      <input type = "radio" id = "song{{forloop.counter}}" name = "song" value = "{{song.id}}">
      <label for = "song{{forloop.counter}}">
        {{song.song_title}}
        {% if song.isFavorite == True %}
               'fav'
		{% endif %}
      </label><br>
    {% endfor %}
    <input type = 'submit' value = "Favorite">
    <input type = 'submit' value = "UnFavorite"  formaction = "{%url 'music:unfavorite' album.id %}">
</form>
{% endblock%}
</body>
</html>